* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #131720;
    font-family: sans-serif;
  }
  
  h3 {
    color: white;
  }
  
  .topNav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
  
  }
  
  .topNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .topNav .search-container {
    float: right;
  }
  
  form {
    background-color: #151f30;
    height: 43px;
    width: 300px;
    border-radius: 11px;
    display: flex;
    align-items: center;
  }
  
  input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
  }
  
  .thumbnail {
    height: 350px;
    width: 250px;
    border-radius: 19px;
    ;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px 10px;
  }
  
  
  .card {
    border-radius: 19px;
    padding: 15px;
    height: 450px;
    width: 280px;
    text-align: center;
    background-color: #151f30;
  }
  #section{
    padding-left: 5%;   
  }
  
  #section2{
    color: #fff;
    padding-left: 1%;
    padding-top: 50%;
  }

  li{
    padding: 10px;
  }

  .movieinfo{
    color: pink;
    padding-right: 60%;
  }
  .link{
    color: chocolate;
    padding-left: 10%;
    padding-bottom: 10%;
    font-size: 200px;
  }

 .link:hover{
  color: plum;
 }